.button1 {
    background-color:blue;
    color:white;
    border-radius: 8px;
  }
.ghost-button:active {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
  }
.ghost-button1:active {
    background-color: #fff;
    color: #000;
    border-radius: 8px;
  }
.button4 {
    
    background-color:white;
    color:red;
    border-radius: 8px;
  }